@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;900&display=swap');
$color1:#223D72;
$black:#000000;
$white:white;
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style:none;
}
body{
    font-family: 'Raleway', sans-serif;
}


header{
    background:darken($white, 5%);
    // border-bottom: 2px solid $black;
    padding-top:15px;
    padding-bottom: 15px;
    position:sticky;
    // width:100vw;
    height:70px;
    z-index: 10;
    top:0;
    
    .box{
        padding: 0 25%;
        display:flex;
        justify-content: center;
        .links{
            display:flex;
            width:fit-content;
            justify-items:center;
            align-items: center;
            .profile{
              
                img{
                    
                    
                }
                
            }
            .link{
                margin-right: 30px;
                i{
                    font-size: 40px;
                    color:$black;
                }
            }
        }
    }
}
.wrap{
    padding:0px 8%;
}
footer{
    // margin-top:30px;
    // background:lighten($color1, 0%);
    // height:50px;
    display:flex;
    align-items: flex-end;
    justify-content:center;
    hr{
        // margin-bottom:20px;
        
        

    }
    .name{
       p{
        margin: 30px 0px;
       }
           
    }
}

main{

    .profile{
        background: $color1;
        // height:80vh;
        position: relative;
        padding:50px 20px;
        
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        .img{
            width:200px;
            height:200px;
            margin-top:30px;
            justify-content: center;
            margin:   50px auto 0px auto;
            // position:absolute;
            // left:50%;
            // top:30px;
            // transform:translateX(-50%);
            img{
                border-radius:50%;
                width:100%;
            }
        }
        .details{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin:50px 0px;
            
            max-width:500px;
            .name{
                text-align:center;
                color:$white;
                font-size:30px;
            }
            .tittle{
                text-align:justify;
                color:$white;
                font-size:17px;
                color:#f4f4f4;
                margin:10px 0px;
                font-weight:500;
            }
            .re{
                text-align: justify;
                color: #ebebeb;
                line-height:25px;
                word-spacing:5px;
                
            }
        }
        .social{
            display:flex;
            align-items: center;
            justify-content: center;
            i{
                margin-right:30px;
                font-size:30px;
                color:$white;
                &:last-child{
                    margin-right:0;
                }
            }
        }
    }
    .content{
        
        .wrap{
            
            .about{
                display: grid;
                grid-template-columns: repeat(1fr);
                grid-gap: 30px;;
                .det{
                    display: flex;
                    flex-direction:column;
                    margin-top:30px;
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;

                    }
                    .box{
                        display:flex;
                        flex-direction: 
                        column;
                        margin-top:30px;
                        .field{
                            color:$black;
                            margin-bottom: 20px;
                            display:flex;
                            align-items:center;
                            span{
                                margin-left:30px;
                            }
                            i{
                                
                                color:$black;
                                font-size:30px;
                            }
                        }
                    }   

                }
                .cet{
                    display: flex;
                    flex-direction:column;
                    margin-top:30px;
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;
                    }
                    .box{
                        display:flex;
                        flex-direction: 
                        column;
                        margin-top:30px;
                        .field{
                            color:$black;
                            margin-bottom: 20px;
                            display:flex;
                            align-items:center;
                            span{
                                margin-left:10px;
                                margin-right:30px;
                                font-weight:600;
                    
                            }
                            i{
                                
                                color:$black;
                                font-size:30px;
                            }
                        }
                    }   

                }
                .skl{
                     display: flex;
                    flex-direction:column;
                    margin-top:10px;
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;

                    }
                    ul{
                        margin-top:30px;
                        li{
                            margin-bottom:20px;
                            font-weight:600;
                        }
                    }
                }
                .ab{
                     display: flex;
                    flex-direction:column;
                    margin-top:10px;
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;

                    }
                    ul{
                        margin-top:30px;
                        li{
                            margin-bottom:20px;
                            font-weight:600;
                        }
                    }
                }
            }
            .experience{
                margin-top:40px;
                .xp{
                    margin-bottom: 40px;
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;
                    }
                    .box{
                        display:flex;
                        flex-direction: 
                        column;
                        margin-top:30px;
                        .role{
                            font-size: 23px;
                            font-weight: 600;
                            
                        }
                        .dd{
                            font-size:15px;
                        }
                        .cp{
                            font-weight:500;
                            font-size:18px;
                            margin:8px 0px;
                        }
    
    
                    }
                }
                .xo{
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;
                    }
                    .schools{
                        .box{
                            display:flex;
                            margin-top:20px;
                            .yr{
                                color:$black;
                                
                                margin-right:30px;
                            }
                            .name{
                                font-size:18px;
                                font-weight:600;
                            }
                        }
                    }
                }
                  .int{
                     display: flex;
                    flex-direction:column;
                    margin-top:50px;
                    .hd{
                        font-size:25px;
                        font-weight:600;
                        color:$color1;

                    }
                    ul{
                        margin-top:30px;
                        li{
                            margin-bottom:20px;
                            font-weight:600;
                            font-size:16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen  and (min-width:700px){
    .home{
        display:flex;
        top:50px;
         .profile{
            flex-basis: 25%;
            height: calc(100vh - 70px);
            position:sticky;
            left:0;
            top:70px;
            .img{
                width:150px;
                height:150px;
                margin-top:10px;
            }
            .details{
                margin:20px 0px;
                .name{
                    font-size:25px;
                }
            }
            .social{
                i{
                    font-size:25px;
                    margin-right:20px;
                }
            }

            .wrap{
                
                left:0;
                height:100%;
                
            }
        }
        .content{
            .wrap{
            //    display: flex;
            //    flex-direction: column;
            //    align-items:center;
            //    justify-content: center;
                .about{
                    grid-template-columns:repeat(1, 1fr) ;
                }
            }
        }
    }
    header{
      
    }
}
@media screen  and (min-width:1000px){
    main{

        .profile{
            flex-basis: 25%;
            height: calc(100vh -  50px);
            position:sticky;
            left:0;
            top:50px;
            .img{
                width:150px;
                height:150px;
                margin-top:10px;
            }
            .details{
                margin:20px 0px;
            }
            .social{
                i{
                    font-size:25px;
                    margin-right:20px;
                }
            }

            .wrap{
                
                left:0;
                height:100%;
                
            }
        }
        .content{
            .wrap{
                .about{
                    grid-template-columns:repeat(2, 1fr) !important ;
                }
            }
        }
    }
}
// @media screen and (min-width:1300px){
    
//     .home{
//         display:flex;
//         position:relative;
//         justify-content: space-between;
//           .content{
//             .wrap{
//                 .about{
                    
//                 }
//             }
//         }
//         .profile{
//             flex-basis: 25%;
//             height: calc(100vh -  50px);
//             position:sticky;
//             left:0;
//             top:50px;
//             .img{
//                 width:150px;
//                 height:150px;
//                 margin-top:10px;
//             }
//             .details{
//                 margin:20px 0px;
//             }
//             .social{
//                 i{
//                     font-size:25px;
//                     margin-right:20px;
//                 }
//             }

//             .wrap{
                
//                 left:0;
//                 height:100%;
                
//             }
//         }
//         .content{
//             flex-basis: 75%;
          
//             background:peachpuff;
//         }
//     }
// }
// @media screen  and (min-width:1300px){
//     main{
//         .profile{

//         }
//         .content{
//             .wrap{
//                 .about{
//                     grid-template-columns:repeat(4, 1fr) ;
//                 }
//             }
//         }
//     }
// }